Practicas/Practica3_final/WSVueloJava/xml-resources/web-service-references/WSVuelo/wsdl/localhost_8080/Practica3.3/WSVuelo.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://WSVuelo/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://WSVuelo/">

<xs:element name="consulta_libres" type="tns:consulta_libres"/>

<xs:element name="consulta_libresResponse" type="tns:consulta_libresResponse"/>

<xs:element name="reserva_plaza" type="tns:reserva_plaza"/>

<xs:element name="reserva_plazaResponse" type="tns:reserva_plazaResponse"/>

<xs:complexType name="consulta_libres">
<xs:sequence>
<xs:element name="id_vuelo" type="xs:int"/>
<xs:element name="fecha" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="consulta_libresResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="reserva_plaza">
<xs:sequence>
<xs:element name="id_vuelo" type="xs:int"/>
<xs:element name="fecha" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="reserva_plazaResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:schema>